fastapi
pydantic
pydantic_settings
sqlalchemy[postgresql_asyncpg]
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
fastapi-users
pytest
requests
black
flake8
flake8-bugbear
httpx
aiosqlite
mypy
types-requests
types-passlib
types-python-jose
